text{
  color:#000080;
}

a{
  color:#800080;
}

a:visited{
  color:#ff0000
}

body {
  background-color: #ffffff
}

header {
  font-weight:bold;
  font-size:20px;
  text-align:center;
}

header span {
  display: block
}

p {
  text-align:center;
  font-size: 10px;
}

.line {
  width: 100%;
  height: 1px;
  background: black;
}

.line2 {
  width: 100%;
  height: 1px;
  background: black;
}

.line3 {
  width: 100%;
  height: 1px;
  background: black;
}

.line4 {
  width: 100%;
  height: 1px;
  background: black;
}



